
.default-btn {
    width: 100%;
    color: white;
    background-color: rgba(146, 94, 177, 1);
    padding: 16px;
    border-radius: 5px;
}

.homepage-container{
    width: 100%;
    height: 100vh;
    padding-top: 20vh;
    text-align: center;
}
.home-title-container{
    padding-top: 10vh;
    font-style: 'Balsamiq Sans';
    font-weight: 400;
}

.home-title-1{
    font-size: 2em;
}
.home-title-2{
    font-size: 3em;
}

.home-start-btn{
    
    width: 70%;
    max-width: 500px;
    position: absolute;
    bottom: 5vh;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.header-bar{
    height: 5vh;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid white;
    box-shadow: 0px 2px lightgray;
}

.back-btn{
    width: 40px;
}
.header-label{
    width: 100%;
    text-align: left;
    font-size: 18px;
    font-weight: 600;
}
.picture-grid{
    /* height: 10vh; */
    width: 100%;
    display: flex;
    justify-content: left;
}
.grid-bot{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.grid-img{
    width: 50px;
    height: 100%;
}
.review-btn-container{
    display: flex;
    width: 100%;
    justify-content: center;
}

.review-btn{
    /* width: 40%; */
    padding: 15px;
    margin: 20px;
    width: 150px;
}

.picture-grid-container{
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

.add-icon{
    height: 100%;
    width: 50px;
    font-weight: 50px;
}
.picture-grid{
    display: flex;
}
.capture-btn{
    width: 50%;
    border-radius: 30px;
}
.capture-btn-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.difficulty-choice-container{
    width: 100%;
    text-align: center;
    justify-content: center;
    margin: 0px 0px;
}
.difficulty-form{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}
.radio {
    display: flex;
    text-align: center;
    margin: 0px;
    padding: 10px;
}
.qna-container{
    width: 80%;
    max-width: 600px;
    margin: auto;
    padding: 2rem 0em;
    font-weight: 400;
}
.qna-questions{
    font-weight: 600;
    padding: 10px 0px;
}
.qna-options{
    font-weight: 100;
    padding: 5px;
}
.brief-question{
    margin: 10px 10px 10px 0px;
    font-weight: 600;
}
.text-area-container{
    display: flex;
    justify-content: left;
}
.text-area{
    width: 100%;
    justify-content: center;
}
.desc-container{
    padding-top: 0;
}
.submit-btn{
    display: flex;
    padding-bottom: 10px;
}
.ans-prompt{
    color: red;
}